body {
    margin: 0;
    scroll-behavior: smooth;
    background-color: rgb(71, 93, 71);

}

#header {
    background-color: rgb(71, 93, 71);
    box-shadow: 0px 0px 1px 1px rgb(189, 196, 196);
}

#logo {
    width: 100px;
    padding: 10px;
}

.d_none {
    display: none;
}
.content_wrapper{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
   
}
.content{
    width: calc(100% - 300px);
}
.basket{
    min-width: 300px;
    height: 100vh;
    flex-grow: 1;
    box-shadow: 0px 0px 2px 2px rgb(221, 168, 118);
}

#title_pic{
    background-image: url(assets/img/food.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

#overlap_container{
    display: flex;
    justify-content: center;
  
}

#overlap_logo {
    background-image: url(assets/img/logo2.png);
    width: 200px;
    height: 200px;
    margin-top: -50px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgb(221, 168, 118);
}

#p_tag {
    color: rgb(183, 121, 8);
}

#top_container {
    padding-left: 20px;
    margin-top: -30px;
}

#review_section {
    display: flex;
    align-items: center;
    gap: 10px;
}

#arrow {
    width: 30px;
    height: 30px;
}

#h2_menu{
    padding-bottom: 40px;
    padding-left: 20px;
    padding-top: 50px;
    color: white;
    font-family: "Love Light", cursive;
    font-weight: 1000;
    font-style: normal;
    font-size: 50px;
}

#plus_button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}



#plus_button:hover {
    cursor: pointer;
}

.plus_div {
    display: flex;
    justify-content: flex-end;
}

.main_dishes_container {
    width: 90%;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    color: white;
    
}

#basket_div{
    display: flex;
    justify-content: center;
}

.dishes_css{
    width: 80%;
    margin-left: 20px;
    box-shadow: 0px 0px 10px 0px rgb(221, 168, 118);
    border-radius: 10px;
}

.symbols_basket {
    width: 50px;
    height: 50px;
}

.dishes_basket {
    display: flex;
}