body {
    margin: 0;
    scroll-behavior: smooth;
    background-color: rgb(71, 93, 71);

}

#header {
    background-color: rgb(71, 93, 71);
    box-shadow: 0px 0px 1px 1px rgb(189, 196, 196);
}

#logo {
    width: 100px;
    padding: 10px;
}

.overlay{
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #8e8f84;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

   
}

.d_none{
    display: none;
}


#dialogBoxOrdered{
    width: 500px;
    height: 500px;
    border: 2px solid;
    z-index: 1;
    background-color: rgb(221, 168, 118);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_wrapper{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
   
}
.content{
    width: calc(100% - 300px);
}
.basket{
    min-width: 300px;
    height: 550px;
    flex-grow: 1;
    box-shadow: 0px 0px 2px 2px rgb(221, 168, 118);
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 0;
}

#title_pic{
    background-image: url(assets/img/food.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

#overlap_container{
    display: flex;
    justify-content: center;
  
}

#overlap_logo {
    background-image: url(assets/img/logo2.png);
    width: 200px;
    height: 200px;
    margin-top: -50px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgb(221, 168, 118);
}

#p_tag {
    color: rgb(183, 121, 8);
}



#review_section {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
   
}

#arrow {
    width: 30px;
    height: 30px;
}

#h2_menu{

    color: white;
    font-family: "Love Light", cursive;
    font-weight: 1000;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    
}

#plus_button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}



#plus_button:hover {
    cursor: pointer;
    filter: grayscale(100%);
}

.plus_div {
    display: flex;
    justify-content: flex-end;
}

.desc_css{
    padding: 10px;
}

.main_dishes_container {
    width: 90%;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    gap: 20px;
    
}

#basket_div{
    display: flex;
    justify-content: center;
}

.dishes_css{
    width: 80%;
    margin-left: 20px;
    box-shadow: 0px 0px 10px 0px rgb(221, 168, 118);
    border-radius: 10px;
}

.symbols_basket {
    width: 50px;
    height: 50px;
}

.symbols_basket:hover{
    cursor: pointer;
    filter: grayscale(100%);
}

.dishes_basket {
    display: flex;
}

#sum_container{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_basket{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    font-size: 12px;
}

#order_button{
    font-size: 20px;
    height: 30px;
    width: 90px;
    background-color: rgb(221, 168, 118);
    border: none;
    margin-top: 20px;
}
#order_button:hover{
    cursor: pointer;

    background-color: rgb(160, 158, 158);
}

.footer{
    padding-top: 20px;
    width: 100%;
    height: 100px;
    border: 1px solid rgb(221, 168, 118);
}

#zwischensumme{
    font-size: 12px;
}

#xButtonConfig {
    width: 200px;
    height: 200px;
    margin-bottom: -180px;
}

#xButtonConfig:hover {
    cursor: pointer;
}

#xButton {
    display: flex;
    justify-content: flex-end;
}

.button_class{
    display: flex;
    justify-content: center;
}

#basket_resp_main{
    width: 280px;
    height: 600px;
    position: absolute;
    background-color: rgb(221, 168, 118);
    top: 20px;
    left: 20px;
    border-radius: 5%;
}

#basket_resp{
    margin-top: 20px;
    overflow: auto;
    width: 250px;
    height: 300px;
}   

