#top_h2 {
    font-family: "Love Light", cursive;
    font-weight: 1000;
    font-style: normal;
    font-size: 100px;
    color: black(255, 255, 255);
    text-shadow: black ;
    
    padding-left: 50px;
    color: aliceblue;
 
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

